.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

li {
  list-style: none;
}

.exits {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
